@use './variables';

header {
    background: variables.$tertiary;
    margin-bottom: 90px;
    display: flex;
    margin-top: 70px;
    align-items: center;
    flex-wrap: wrap; 
    //makes it easier for later on for mobile
    .headerImgContainer {
        width: 45%;
    }
    .headerContentContainer {
        width: 55%;
        padding: 0 40px; //vertical horizontal
    }


}