@use "./variables";

// Import our Fonts for use
@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff'),
	url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf'),
	url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2');

    //Import Jakarta Sans BOLD

    @font-face {
        font-family: "Jakarta Sans";
        src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff'),
	    url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2),
	    url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf);
        font-weight: normal;
    }
}